.head{
    display: block;
    background-color: #f6f6f6;
    height: 133px;
}
div {
    display: block;
}

body {
    margin: 0px;
}

.todo {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    width: 360px;
    margin-left: 280px;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0px 50px 0px 0px;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}

.list {
    text-align: left;
    margin: 20px;
    width: 1000px;
}

.buttoncheck {
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(153, 153, 153);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.hapus {
    padding: 5px;
    background-color: rgb(153, 153, 153);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
